docker {
    enabled = true
}


aws {
    accessKey = '*'
    secretKey = '*'
    region = 'us-east-2'
}

params {
  output = 'circular_cov'
  path = 'test_data'
}

process {
    withName: CircularPerBasePlot {
      memory = '8.0G'
      cpus = 4
      executor = 'local'
      container = 'seqwell/python:v2.0'
  }
}
