// ---- Global Docker settings ----
docker {
  enabled = true
}

// ---- Global AWS credentials (only used if awsbatch profile is active) ----
aws {
  accessKey = '*'
  secretKey = '*'
  region = 'us-east-2'
}

// ---- Default parameters ----
params {
    unaligned_dir = null
    aligned_dir   = null
    output        = null
}

// ---- Profiles ----
profiles {

  // --- For GitHub Actions CI or local dev ---
  test {
    process.executor = 'local'
    docker.enabled = true
    params {
     
    unaligned_dir = "tests/unaligned"
    aligned_dir   = "tests/aligned"
    output        = "ci_output"
    }
  }

}



// ---- Process-specific settings (default local + docker) ----

process {
    executor = 'local'        
    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }
    maxRetries = 2
    cpus = 2
    memory = '4 GB'
    time = '1h'

    withName:CALC_UNALIGNED_STATS {
        container = 'seqwell/calc-unaligned-stats:v1.0'
    }

    withName:UNALIGNED_SUMMARY {
        publishDir = [
            path: "${params.output}",
            mode: 'copy'
        ]
        container = 'seqwell/unaligned-summary:v1.0'
    }

}


